.claim-text {
  color: #FFA500;
}

.schedule-text {
  color: #0000FF
}

.table {
  thead {
    background-color: #0000FF !important;
    tr {
      th {
        border: none;
        color: #fff
      }
    }
  }
}

.btn {
  width: 200px !important;
}

.book-now-btn, .cancel-btn {
  background-color: #FFA500 !important;
}

.full-btn {
  background-color: #FF0000 !important;
}

.cart-icon {
  display: flex;
  justify-content: flex-end;
}